# Dependências
/node_modules

# Arquivos de build do Vite
/dist
.vite/

# Variáveis de ambiente (segurança)
.env
.env.*

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# Configurações de editores de código
.idea
.vscode
